/* Styles go here. */

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #0c0c0c;
  display: flex;
}
.canvas-holder{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  max-width:97.5vw;
  max-height: calc(97.5vw * 0.5625 * 0.875);
  margin-top: 2.5vh;
  margin-left: 1.125vw;
  border: 2px solid#444;
  border-radius: 8px;
}

